<h1>Create A New Article</h1>

<form method="POST" action="/articles">
  <p><label for="title" name="title">Title:</label></p>
  <p><input type="text" name="title"><p>
  <p><label for="content" name="content">Content:</label></p>
  <p><input type="text" name="content"></p>
  <p><input type="submit" id="submit">
</form>
