<form action="/articles/<%= @articles.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
      <label for="title">Title</label>
      <input id="title" type="text" name="articles[title]" value="<%= @articles.title %>" />
      <label for="content">Content</label>
      <input id="content" type="text" name="articles[content]"  value="<%= @articles.content %>"/>
  <input type="submit" />
</form>