<!DOCTYPE html>
<html>
  <body>
    <h1>Articles</h1>
    <% @posts.each do |articles| %>
      <strong><%= articles.title %></strong><br />
      <%= articles.content %>
      <br /><br />
    <% end %>
  </body>
</html>