<form action="/posts" method="post">
  <div>
    <label for="Title">My favorite article:</label>
    <input type="text" name="title" id="title">
  </div>
  <div>
    <label for="content">this is even better than the last:</label>
    <input type="text" name="content" id="content">
  </div>
  <input name="submit" type="submit" id="submit">
</form>