<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/articles" method="post">
      <h1>Submit Aricle Information</h1>
      <p>Title: <input type="text" name="title"></p>
      <p>Content: <input type="text" name="content"></p>
      <input type="submit">
    </form>
  </body>
</html>
