<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <form action="/articles" method="post">
      <h3><label for="title">Title</label></h3>
      <p><input type="text" id="title" name="title"></p>
      <h3><label for="content">Content</label></h3>
      <p><textarea type="text" id="content" name="content"></textarea></p>
      <input type="submit" id="submit">
    </form>
  </body>
</html>