<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>my favorite article</title>
  </head>
  <body>

  <%= @post.title %>
  <%= @post.content %>

    <form method="post" action="/posts/<%=@post.id%>/delete">
      <input id="hidden" name = "_method" value="delete">
      <input type="submit" value="delete">
    </form>

  </body>
</html> 